.title {
  color: #02ccba;
}

header{
  height:65px;
  width:100%;
  position:fixed;
  background-color:white;
  width:1400px;
  z-index:10;
  top:0;
}

.logo{
  height:50px;
  width:124px;
  float:left;

}

.header-left{
  float:left;
}

.header-left a{
  line-height: 65px;
  padding-left:30px;
  padding-right:30px;
  letter-spacing: 10px;
}

.product-wrapper{
  padding-top:70px;
  height:580px;
  text-align:center;
  background-color: #f7f7f7;
}



.product-icon p{
  font-size:15px;
  margin-top:10px;
  margin-left:5px;
}

.product{
  float:left;
  width:100%;
}

.product img{
  width:400px;
}

.detail{
  padding-left:40px;
}


.message-wrapper{
  text-align:center;
  background-color:#f7f7f7;
  margin-top:10px;
  padding-bottom:10px;
  border-top:1px solid #eee;
}


footer img{
  width:124px;
  font-size:12px;
  padding-top:10px;
  height:65px;

}

footer p{
  font-size:12px;
  color:#b3aeb5;
  margin-bottom:10px;
}

footer{
  border-top:1px solid #eee;
  height:20px;
  width:100%;
  width:1400px;
  }
